.header_wrap {
    width: 100%;
    .header_nav {
      width: 100%;
      background-position: center 0;
      background-repeat: no-repeat;
      overflow: hidden;
      .shadow {
        height: 100%;
        &.shadow_active{
          background-image: none !important;
        }
      }
    }
  }